@font-face {
    font-family: 'm6x11';
    /* noinspection CssUnknownTarget */
    src: url('/fonts/balatro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;
    text-align: center;
    font-family: 'm6x11', 'Courier New', monospace;
    overflow: hidden;
    background: linear-gradient(135deg, #667eea 0%, #eb8934 100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.home-container h1 {
    font-size: 5rem;
    margin-bottom: 5rem;
    color: #ffffff;
}

.home-container img {
    max-width: 400px;
    height: auto;
    margin-bottom: 9rem;
}
