@font-face {
    font-family: 'm6x11';
    /* noinspection CssUnknownTarget */
    src: url('/fonts/balatro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;
    text-align: center;
    font-family: 'm6x11', 'Courier New', monospace;
    overflow: hidden;
}

.login-container h1 {
    font-size: 5rem;
    margin-bottom: 5rem;
    color: #333;
}

